# CAP sf-ext-bacheca-aziendale
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
target/
dist/
ui_deployer/resources/*.zip

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
mta*/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
mta.yaml
.gitignore
node_modules
